# Discord OAuth Credentials
# 1. Go to https://discord.com/developers/applications
# 2. Settings -> Environment Variables mein bharp lo:
# DISCORD_CLIENT_ID = 1428385413437063400
# DISCORD_CLIENT_SECRET = (Aapka Client Secret)
# DISCORD_BOT_TOKEN = (Aapka Bot Token)
# APP_URL = https://ais-pre-xgazujm5gvzy5hht6ta5be-581588045754.asia-east1.run.app
# 3. Discord Portal mein Redirect URI add karo: [YOUR_APP_URL]/auth/callback

DISCORD_CLIENT_ID=1507154772875284492
DISCORD_CLIENT_SECRET=OU6MfMiK5d3fdJDqc1Pskmt6OtCmnnKI
DISCORD_BOT_TOKEN=MTQyODM4NTQxMzQzNzA2MzQwMA.G2iofR.4I9BBl3bBfxI7nvUPYk2ZW5qpKAWAOStFJvgNI


# App Configuration
# Set APP_URL to your Shared App URL (e.g., https://ais-pre-...)
APP_URL=
SESSION_SECRET=seth_vip_ultra_secure_session_key_99

# Gemini AI
GEMINI_API_KEY=AIzaSyB-IzKNhYrUSLkTDn0uYOtMm9WDSUS4GgU
